.head {
    background-color: cadetblue;
    color: rgb(41, 60, 88);    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.head, .main, .foot, .containers {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head h1 {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}

.head h1::after {
    content: " ESTOQUE DE MEDICAMENTOS";
    color: azure;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 12px;
    text-decoration: none;
    color: azure;
    padding: 5px 10px;
    margin: 10px;
    border-left: 2px azure solid;
    border-right: 2px azure solid;
}

.links a:hover {
    color: rgb(41, 60, 88);
}

.links a:active {
    color: azure;
}

.main h2 {
    text-align: center;
    font-size: 50px;
}

.foot {
    margin-top: 20px;
}

.div-parceiro {
    background: linear-gradient(cadetblue, grey);
    display: flex;
    justify-content: center;
    padding: 50px;
}

.div-parceiro h3 {
    color: azure;
    margin: 0;
    font-size: 28px;
}

.div-parceiro button {
    background-color: azure;
    color: rgb(41, 60, 88);
    padding: 10px 48px;
    margin: 0px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.div-parceiro button:hover {
    background-color: rgb(41, 60, 88);
    color: azure;
}

.div-direitos, .div-controle-de-estoque, .div-suporte, .div-redes-sociais {
    color: #656565;
    display: inline-block;
    width: auto;
    padding: 0px 20px 0px 90px;
    vertical-align: top;    
}

.div-redes-sociais img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.div-direitos h4, .div-controle-de-estoque h4, .div-suporte h4 {
    font-size: 12px;
}

.div-direitos p, .div-controle-de-estoque p, .div-suporte p, .div-redes-sociais p {
    font-size: 10px;
}