html, body {
    margin: 0;
    padding: 0;
}

.head, .main, .foot, .containers {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head {
    background: linear-gradient(cadetblue, #656565);
    color: rgb(41, 60, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}

.head h1::after {
    content: " ESTOQUE DE MEDICAMENTOS";
    color: azure;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 12px;
    text-decoration: none;
    color: azure;
    padding: 5px 10px;
    margin: 10px;
    border-left: 2px azure solid;
    border-right: 2px azure solid;
}

.links a:hover {
    color: rgb(41, 60, 88);
}

.links a:active {
    color: azure;
}

.main h2 {
    text-align: left;
    font-size: 30px;
}

.medio-site {
    background-color: rgb(248, 248, 248);
    color:#656565;
    padding: 80px 0px;
}

.medio-site h2 {
    font-size: 25px;
    text-align: center;
}

.medio-site p {
    display: flex;
    font-size: 13px;
    width: 80%;
    padding: 0px 150px;        
}

.carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;   
}

.carrossel-container img {
    max-width: 30px;
    height: auto;
}

.baixo-site {
    width: 60%;
    margin: 0 auto;
}

.baixo-site h2 {
    text-align: center;
    font-size: 18px;
}

.content {
    display: inline;
}

.containers {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-align: center;
}

.containers p {
    font-size: 11px;
}

.container-1, .container-2, .container-3 {
    background: linear-gradient(cadetblue, #656565);
    width: 30%;
    padding: 80px 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.container-1 h3, .container-2 h3, .container-3 h3 {
    color: azure;
    font-size: 13px;
}

.container-1 img, .container-2 img, .container-3 img {
    max-width: 40%;
}

.foot {
    margin-top: 20px;
}

.div-parceiro {
    background: linear-gradient(cadetblue, #656565);
    display: flex;
    justify-content: center;
    padding: 50px;
}

.div-parceiro h3 {
    color: azure;
    margin: 0;
    font-size: 28px;
}

.div-parceiro button {
    background-color: azure;
    color: rgb(41, 60, 88);
    padding: 10px 48px;
    margin: 0px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.div-parceiro button:hover {
    background-color: rgb(41, 60, 88);
    color: azure;
}

.div-direitos, .div-controle-de-estoque, .div-suporte, .div-redes-sociais {
    color: #656565;
    display: inline-block;
    width: auto;
    padding: 0px 20px 0px 90px;
    vertical-align: top;    
}

.div-redes-sociais img {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.div-direitos h4, .div-controle-de-estoque h4, .div-suporte h4 {
    font-size: 12px;
}

.div-direitos p, .div-controle-de-estoque p, .div-suporte p, .div-redes-sociais p {
    font-size: 10px;
}